<h2>Optimize your fantasy basketball draft with the Knapsack Problem</h2>
<p>Read about the inspiration behind this methodology <a href="http://medium.com/@steventang">here</a>
<p>Upload a CSV, .xls, or .xlsx with these 3 columns, <strong>including these exact headers</strong>, from left to right: name, price, value</p>
<p>
You can also manually enter in a player.
Your player uploads will be remembered. Hitting "Reset" will permanently erase your stored players.
</p>

<div class="row knapsack-inputs">
	<div class="parameter-form col-md-6">
		<h3>Draft Parameters</h3>

		<div class="parameters">
			<span>Budget: <%= @user.budget %></span> |
			<span>Team Size: <%= @user.team_size %><span>
		</div>
		<div class="row">
		
			<%= form_for(@user) do |f| %>

				<!--<%= render 'shared/error_messages', :object => f.object %>-->
				<div class="col-md-4">
					<%= f.label :budget, "Budget" %>
					<%= f.number_field :budget, :step => 'any', :class => "form-control" %>

					<%= hidden_field_tag :draft_parameter, "Budget" %> <!-- I'm passing in this string so we can update the flash message with the right paramter -->
				</div>
				<!--<%= f.submit "Save Budget" %>-->

			<!--<% end %>-->

			<!--<%= form_for(@user) do |f| %>-->	

				<!--<%= render 'shared/error_messages', :object => f.object %>-->
				<div class="col-md-4">
					<%= f.label :team_size, "Max Team Size" %>
					<%= f.number_field :team_size, :class => "form-control" %>

					<%= hidden_field_tag :draft_parameter, "Team Size" %>
		
				</div>

				<div class="parameter-submit col-md-4">
					<%= f.submit "Save Parameters", :class => "form-control btn-default" %>
				</div>

			<% end %>
		</div>

	</div>

	<div class="import-players-form col-md-6">
		<h3>Import Players</h3>

		<p>Imported file MUST have the following exact headers, in order: name, price, value. Filetype can be .csv, .xlsx, or .xls</p>

		<div class="import-form">
			<div class="row">
				<%= form_tag import_players_path, :multipart => true do %>
					<div class="file-field col-md-4">
						<%= file_field_tag :file %>
					</div>
					<div class="import-submit col-md-4">
						<%= submit_tag "Import", :class => "form-control btn btn-default"%>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="manual-player">
	<h4>Manually add a player</h4>
	<%= form_for(@player, :class => "form-inline", :role => "form") do |f| %>

		<!--<%= render 'shared/error_messages', :object => f.object %>-->
		<div class="form-group">
			<div class="col-md-4">
				<%= f.label :name, :class => "sr-only" %>
				<%= f.text_field :name, :placeholder => "Player name", :class => "form-control" %>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-2">
				<%= f.label :price, :class => "sr-only" %>
				<%= f.text_field :price, :placeholder => "Player price", :class => "form-control" %>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-2">
				<%= f.label :value, :class => "sr-only" %>
				<%= f.text_field :value, :placeholder => "Player value", :class => "form-control" %>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-2">
				<%= f.submit "Submit Player", :class => "form-control btn-default" %>
			</div>
		</div>

	<% end %>
</div>


<div class="row">
	<div class="col-md-4">
		<%= link_to 'Calculate Optimal Linup', calculate_path, :class => "btn btn-lg btn-primary calculate-button" %>
	</div>

	<div class="col-md-4">
		<%= link_to 'Delete all players', reset_path, :class => "btn btn-lg btn-warning reset-button", :data => { :confirm => "Delete ALL players?" } %>
	</div>

</div>

<div class="row">
	<% if @optimal_player_set %>
		<div class = "col-md-4 optimal-set">	
			<h4>Found optimal lineup:</h4>
			<table>
				<tr>
					<td><strong>Name</strong></td>
					<td><strong>Price</strong></td>
					<td><strong>Value</strong></td>
				</tr>
				<%= render @optimal_player_set %>
				<tr>
					<td><strong>TOTALS:</strong></td>
					<td><strong><%= number_with_precision(@optimal_player_set_price, :precision => 2) %></strong></td>
					<td><strong><%= number_with_precision(@optimal_player_set_value, :precision => 2) %></strong></td>
				</tr>
			</table>
			Number of players used: <%= @optimal_player_set.count %>
		</div>
	<% end %>
	
	<div class="col-md-4 playerslist">
		<h3>List of potential players</h3>
		<% if @user.players.any? %>
			<table>
				<tr>
					<td><strong>Name</strong></td>
					<td><strong>Price</strong></td>
					<td><strong>Value</strong></td>
				</tr>
				<%= render @user.players %>
			</table>
		<% end %>
	</div>
</div>