<div class="row">
	<div class="intro col-md-6">
		<h2>Optimize your fantasy basketball draft with the Knapsack Problem</h2>
		<p>
			Read about the inspiration behind this draft methodology <a href="http://medium.com/@steventang">here</a>.
			The <a href="http://en.wikipedia.org/wiki/Knapsack_problem">knapsack problem</a> is a classic algorithmic optimization problem.
			Given a set of items, each having a value and weight, pick items to put in a knapsack that maximize value given a weight constraint.
			The 0-1 knapsack problem restricts the copies of each item to either 0 or 1.
		</p>
		<p>
			In auction-style fantasy sports drafts, we want to optimize for total team value, given players with a known value and price (huge assumptions of course). Fantasy drafting can be modeled as a 0-1 knapsack problem with one additional constraint: the total of items (players) cannot exceed the max team size. Note that the optimal picks for a team size of at most N is the same as the optimal picks for a team size of exactly N, since the remainder of the team can be filled with 0 bid players.
		</p>

		<p><strong>INSTRUCTIONS: </strong>Save your draft parameters, import or manually add players, then calculate. Your player list will be saved even on browser close.</p>
	</div>

	<div class="knapsack-inputs col-md-4">
		<div class="parameter-form">
			<h3>Draft Parameters</h3>

			<div class="parameters">
				<span>Budget: <%= @user.budget %></span> |
				<span>Team Size: <%= @user.team_size %><span>
			</div>
	
				<%= form_for(@user) do |f| %>
					<div class="row">
						<div class="col-md-6">
							<%= f.label :budget, "Budget" %>
							<%= f.number_field :budget, :step => 'any', :class => "form-control" %>
						</div>

						<div class="col-md-6">
							<%= f.label :team_size, "Max Team Size" %>
							<%= f.number_field :team_size, :class => "form-control" %>
						</div>
					</div>

					<div class="parameter-submit">
						<%= f.submit "Save Parameters", :class => "form-control btn-default parameters-button" %>
					</div>

				<% end %>
			</div>
		</div>

		<div class="import-players col-md-4">
			<h3>Import Players</h3>

			<p>Imported file MUST have the following exact headers, in order: name, price, value. Filetype can be .csv, .xlsx, or .xls</p>

			<div class="import-form">
				<div class="row">
					<%= form_tag import_players_path, :multipart => true do %>

						<div class="file-field col-md-6">
							<%= file_field_tag :file %>
						</div>
						<div class="import-submit col-md-6">
							<%= submit_tag "Import", :class => "form-control btn btn-default"%>
						</div>

					<% end %>
				</div>
			</div>
	</div>
</div>
<div class="manual-player">
	<h3>Manually add a player</h3>
	<%= form_for(@player, :class => "form-inline", :role => "form") do |f| %>

		<!--<%= render 'shared/error_messages', :object => f.object %>-->
		<div class="form-group">
			<div class="col-md-4">
				<%= f.label :name, :class => "sr-only" %>
				<%= f.text_field :name, :placeholder => "Player name", :class => "form-control" %>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-2">
				<%= f.label :price, :class => "sr-only" %>
				<%= f.number_field :price, :placeholder => "Player price", :class => "form-control", :step => 'any' %>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-2">
				<%= f.label :value, :class => "sr-only" %>
				<%= f.number_field :value, :placeholder => "Player value", :class => "form-control", :step => 'any' %>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-2">
				<%= f.submit "Submit Player", :class => "form-control btn-default" %>
			</div>
		</div>

	<% end %>
</div>


<div class="row">
	<div class="col-md-4 calculate-loading">
		<%= link_to 'Calculate Optimal Lineup', calculate_path, :class => "btn btn-lg btn-primary", :id => "calculate-button" %>
	</div>

	<div class="col-md-4">
		<%= link_to 'Reset Everything', reset_path, :class => "btn btn-lg btn-warning reset-button", :data => { :confirm => "Delete ALL players and parameters?" } %>
	</div>

</div>

<div class="row">
	<% if @optimal_player_set %>
		<div class = "col-md-4 optimal-set">	
			<h3>Found optimal lineup:</h3>
			<table>
				<tr>
					<td><strong>Name</strong></td>
					<td><strong>Price</strong></td>
					<td><strong>Value</strong></td>
				</tr>
				<% @optimal_player_set.each do |p| %>
					<tr>
						<td><%= p.name %></td>
						<td><%= number_with_precision(p.price, :precision => 2) %></td>
						<td><%= number_with_precision(p.value, :precision => 2) %></td>
						<td><%= link_to "delete", p, method: :delete, :data => { :confirm => "Delete player?" }, :title => p.name %></td>
					</tr>
				<% end %>
				<tr>
					<td><strong>TOTALS:</strong></td>
					<td><strong><%= number_with_precision(@optimal_player_set_price, :precision => 2) %></strong></td>
					<td><strong><%= number_with_precision(@optimal_player_set_value, :precision => 2) %></strong></td>
				</tr>
			</table>
			Number of players used: <%= @optimal_player_set.count %>
		</div>
	<% end %>
	
	<div class="col-md-4 playerslist">
		<h3>List of potential players</h3>
		<% if @user.players.any? %>
			<table>
				<tr>
					<td><strong>Name</strong></td>
					<td><strong>Price</strong></td>
					<td><strong>Value</strong></td>
				</tr>
				<%= render @user.players %>
			</table>
		<% end %>
	</div>
</div>