<!DOCTYPE html>
<html>
<head>
  <title>Knapsack Problem Solver For Fantasy Drafts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  	<% flash.each do |msg_type, msg| %><!--flash is a hash assigned if there is a flash to display-->
  		<!-- <%= content_for(:div, msg, class: "alert alert-#{msg_type}") %>-->
      <div class="alert alert-<%= msg_type %>"><%= msg %></div>
  	<% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
